@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;

@inject IHttpContextAccessor HttpContextAccessor

@{
    string IDCliente = HttpContextAccessor.HttpContext.Session.GetInt32("ID").ToString();
    string NomeCliente = HttpContextAccessor.HttpContext.Session.GetString("Nome");

    if ((IDCliente != null) && (IDCliente != "") && (IDCliente != "0"))
    {
        <section class="col-lg-3">
            <div class="navbar-collapse collapse text-right">
                <ul class="nav navbar-nav inline-block">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seja Bem Vindo @NomeCliente<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Account" asp-action="MyAccount">Minha Conta</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Signout">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    }
    else
    {
        <section class="col-lg-1">
            <div class="navbar-collapse collapse text-right">
                <ul class="nav navbar-nav inline-block">
                    <li><a asp-area="" asp-controller="Login" asp-action="Signin">Login</a></li>
                </ul>
            </div>
        </section>
    }
}
