@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    string IDCliente = HttpContextAccessor.HttpContext.Session.GetInt32("ID").ToString();
    if ((IDCliente != null) && (IDCliente != "") && (Convert.ToInt32(IDCliente) != 0))
    {
        <section class="col-lg-8">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paciente<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Paciente" asp-action="CadastroPaciente">Cadastro Paciente</a></li>
                            <li><a asp-area="" asp-controller="Paciente" asp-action="PesquisaPacientes">Pesquisar Paciente</a></li>
                            <li><a asp-area="" asp-controller="Paciente" asp-action="Relatorio">Relatório</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>        
    }
    else
    {
        <section class="col-lg-10">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                </ul>
            </div>
        </section>
    }
}
