@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    string IDCliente = HttpContextAccessor.HttpContext.Session.GetInt32("idUsuario").ToString();

    string FlUsuarioI = HttpContextAccessor.HttpContext.Session.GetInt32("flUsuarioI").ToString();
    string FlUsuarioC = HttpContextAccessor.HttpContext.Session.GetInt32("flUsuarioC").ToString();
    string FlUsuarioA = HttpContextAccessor.HttpContext.Session.GetInt32("flUsuarioA").ToString();
    string FlUsuarioE = HttpContextAccessor.HttpContext.Session.GetInt32("flUsuarioE").ToString();

    string FlPacienteI = HttpContextAccessor.HttpContext.Session.GetInt32("flPacienteI").ToString();
    string FlPacienteC = HttpContextAccessor.HttpContext.Session.GetInt32("flPacienteC").ToString();
    string FlPacienteA = HttpContextAccessor.HttpContext.Session.GetInt32("flPacienteA").ToString();
    string FlPacienteE = HttpContextAccessor.HttpContext.Session.GetInt32("flPacienteE").ToString();

    string FlConsultaI = HttpContextAccessor.HttpContext.Session.GetInt32("flConsultaI").ToString();
    string FlConsultaC = HttpContextAccessor.HttpContext.Session.GetInt32("flConsultaC").ToString();
    string FlConsultaA = HttpContextAccessor.HttpContext.Session.GetInt32("flConsultaA").ToString();
    string FlConsultaE = HttpContextAccessor.HttpContext.Session.GetInt32("flConsultaE").ToString();

    string FlMedicamentoI = HttpContextAccessor.HttpContext.Session.GetInt32("flMedicamentoI").ToString();
    string FlMedicamentoC = HttpContextAccessor.HttpContext.Session.GetInt32("flMedicamentoC").ToString();
    string FlMedicamentoA = HttpContextAccessor.HttpContext.Session.GetInt32("flMedicamentoA").ToString();
    string FlMedicamentoE = HttpContextAccessor.HttpContext.Session.GetInt32("flMedicamentoE").ToString();

    string FlExamesI = HttpContextAccessor.HttpContext.Session.GetInt32("flExamesI").ToString();
    string FlExamesC = HttpContextAccessor.HttpContext.Session.GetInt32("flExamesC").ToString();
    string FlExamesA = HttpContextAccessor.HttpContext.Session.GetInt32("flExamesA").ToString();
    string FlExamesE = HttpContextAccessor.HttpContext.Session.GetInt32("flExamesE").ToString();

    if ((IDCliente != null) && (IDCliente != "") && (Convert.ToInt32(IDCliente) != 0))
    {
        <section class="col-lg-8">

            @{ if (!(FlUsuarioI == "0") && !(FlUsuarioC == "0") && !(FlUsuarioA == "0") && !(FlUsuarioE == "0"))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuário<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Usuario" asp-action="CadastroUsuario">Cadastro Usuário</a></li>
                            <li><a asp-area="" asp-controller="Usuario" asp-action="ConsultaUsuario">Consulta Usuário</a></li>
                            <li><a asp-area="" asp-controller="Usuario" asp-action="Relatorio">Relatório</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }

            @{ if (!(FlPacienteI == "0") && !(FlPacienteC == "0") && !(FlPacienteA == "0") && !(FlPacienteE == "0"))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paciente<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Paciente" asp-action="CadastroPaciente">Cadastro Paciente</a></li>
                            <li><a asp-area="" asp-controller="Paciente" asp-action="PesquisaPaciente">Pesquisar Paciente</a></li>
                            <li><a asp-area="" asp-controller="Paciente" asp-action="Relatorio">Relatório</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }

            @{ if (!(FlConsultaI == "0") && !(FlConsultaC == "0") && !(FlConsultaA == "0") && !(FlConsultaE == "0"))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Consulta<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Consulta" asp-action="CadastroConsulta">Cadastro Consulta</a></li>
                            <li><a asp-area="" asp-controller="Consulta" asp-action="PesquisaConsulta">Pesquisar Consulta</a></li>
                            <li><a asp-area="" asp-controller="Consulta" asp-action="Relatorio">Relatório</a></li>
                        </ul>
                    </li>
                </ul>

            }
        }

            @{ if (!(FlMedicamentoI == "0") && !(FlMedicamentoC == "0") && !(FlMedicamentoA == "0") && !(FlMedicamentoE == "0"))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicamento<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Medicamento" asp-action="CadastroMedicamento">Cadastro Medicamento</a></li>
                            <li><a asp-area="" asp-controller="Medicamento" asp-action="PesquisaMedicamento">Pesquisar Medicamento</a></li>
                            <li><a asp-area="" asp-controller="Medicamento" asp-action="Relatorio">Relatório</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }

            @{ if (!(FlExamesI == "0") && !(FlExamesC == "0") && !(FlExamesA == "0") && !(FlExamesE == "0"))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exames<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Exames" asp-action="CadastroExames">Cadastro Exames</a></li>
                            <li><a asp-area="" asp-controller="Exames" asp-action="PesquisaExames">Pesquisar Exames</a></li>
                            <li><a asp-area="" asp-controller="Exames" asp-action="Relatorio">Relatório</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }

        </section>
    } else {
        <section class="col-lg-10">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                </ul>
            </div>
        </section>
    }
}
