<script type='text/javascript'>
    (function ($) {
        $(function () {
            $(document).ready(function ($) {
                var dataTableCadastrarConsulta = $("#dataTableCadastrarConsulta").DataTable({
                    "language": {
                        "lengthMenu": "Exibe _MENU_ Registros por página",
                        "search": "Procurar",
                        "paginate": { "previous": "Retorna", "next": "Avança" },
                        "zeroRecords": "Nada foi encontrado",
                        "info": "Exibindo página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sem registros",
                        "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                    },
                    "processing": true, // mostrar a progress bar
                    //"serverSide": true, // processamento no servidor
                    "filter": true, // habilita o filtro(search box)
                    "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
                    "pageLength": 3, // define o tamanho da página
                    //"ajax": {
                    //    "url": "/Clientes/GetClientes",
                    //    "type": "GET",
                    //    "dataType": "json"
                    //},
                    "columns": [
                        { "data": "nome", "title": "Nome", "autowidth": true },
                        { "data": "cpf", "title": "CPF", "autowidth": true },
                        { "data": "idPaciente", "title": "paciente", "autowidth": true }
                    ]
                });

                $('#dataTableCadastrarConsulta tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('active')) {
                        $(this).removeClass('active');
                        $(this).children().removeClass('mudarBackColor');
                    }
                    else {
                        dataTableCadastrarConsulta.$('tr.active').removeClass('active');
                        dataTableCadastrarConsulta.$('td.mudarBackColor').removeClass('mudarBackColor');
                        $(this).addClass('active');
                        $(this).children().addClass('mudarBackColor');
                    }
                });

                /* SELECIONA PACIENTE MODAL */
                $('#btnSelecionarPacienteModal').click(function () {
                    let nome = dataTableCadastrarConsulta.$('tr.active').children()[0].textContent;
                    let cpf = dataTableCadastrarConsulta.$('tr.active').children()[1].textContent;
                    let idPaciente = dataTableCadastrarConsulta.$('tr.active').children()[2].textContent;

                    $('#Paciente_Nome').val(nome);
                    $('#Paciente_CPF').val(cpf);
                    $('#Paciente_idPaciente').val(idPaciente);

                    $('#paciente_CPF').focus();
                    $('#paciente_Nome').focus();
                    $('#paciente_CPF').focus();
                    $('#paciente_Nome').focus();

                    limparModalConsultaPaciente();
                    $('#btnFecharPacienteModal').click();
                });


                $('.maskTelefone').mask('(99) 99999-9999');
                $('.maskCPF').mask('999.999.999-99');
                $('.maskDateTime').mask('99/99/9999 99:99');
                $('.maskDate').mask('99/99/9999');

                $('#paciente_Nome').focus();

                $('#btnPesquisaPaciente').click(function () {
                    $('#btnconsultaPaciente').click();
                });

                $('#btnBuscarPacienteModal').click(function () {
                    var nomePaciente = document.getElementById("modalInputNome").value;
                    var cpfPaciente = document.getElementById("modalInputCPF").value;

                    if (nomePaciente !== "" && nomePaciente.length < 3) {
                        limparModalConsultaPaciente();
                        $('#btnFecharPacienteModal').click();
                        $('#cadastroConsultaModalLabel').html('Informação');
                        $('#mensagemBody').html('Informe pelo menos 3 caracteres para consultar o paciente pelo nome!');
                        $('#btnModalCadastroConsulta').click();
                    } else if (cpfPaciente !== "" && cpfPaciente.length !== 14) {
                        limparModalConsultaPaciente();
                        $('#btnFecharPacienteModal').click();
                        $('#cadastroConsultaModalLabel').html('Informação');
                        $('#mensagemBody').html('Informe todos os 11 dígitos do CPF!');
                        $('#btnModalCadastroConsulta').click();
                    } else {
                        $.post('/Consulta/ConsultarPaciente', { __RequestVerificationToken: gettoken(), nome: nomePaciente, cpf: cpfPaciente }, function (data) {
                            console.log("data: ", data);
                            if (data !== null) $('#dataTableCadastrarConsulta').DataTable().clear().rows.add(data.listaConsultaPacienteModel).draw();
                            else {
                                limparModalConsultaPaciente();
                                $('#btnFecharPacienteModal').click();
                                $('#cadastroConsultaModalLabel').html('Informação');
                                $('#mensagemBody').html('Não existe nenhum registro com os dados informados!');
                                $('#btnModalCadastroConsulta').click();
                            }
                        });
                    }
                });

                function limparModalConsultaPaciente() {
                    $('#modalInputNome').val('');
                    $('#modalInputCPF').val('');
                    dataTableCadastrarConsulta.clear();
                }

                function gettoken() {
                    var token = '@Html.AntiForgeryToken()';
                    token = $(token).val();
                    return token;
                }

                $(".dropdown-menu li a").click(function () {
                    $(this).parents(".btn-group").find('.selection').text($(this).text());
                    $(this).parents(".btn-group").find('.selection').val($(this).text());
                });

                // --------------------------- INICIAR ATENDIMENTO ---------------------------
                var dataTableExamesFixo = $("#dataTableExamesFixo").DataTable({
                    "language": {
                        "lengthMenu": "Exibe _MENU_ Registros por página",
                        "search": "Procurar",
                        "paginate": { "previous": "Retorna", "next": "Avança" },
                        "zeroRecords": "Nada foi encontrado",
                        "info": "Exibindo página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sem registros",
                        "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                    },
                    //"processing": true, // mostrar a progress bar
                    //"serverSide": true, // processamento no servidor
                    "filter": true, // habilita o filtro(search box)
                    "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
                    "pageLength": 3, // define o tamanho da página
                    "ajax": {
                        "url": "/Consulta/GetBaseNomeExame",
                        "type": "GET",
                        "dataType": "json",
                        'contentType': 'application/json',
                        "success": function (data) {
                            $('#dataTableExamesFixo').DataTable().clear().rows.add(data).draw();
                        }
                    },
                    "columns": [
                        {
                            "data": 'status', render: function (status, data, rowData) {
                                return ' <div class="checkBoxNomeExame">\n' +
                                    '<input class="check" id="' + rowData.idBaseNomeExame + rowData.baseNomeExame + '" type="checkbox">\n' +
                                    '<label for="exampleCheckboxSwitch"></label>\n' +
                                    '</div>';
                            }
                        },
                        { "data": "idBaseNomeExame", "title": "idBaseNomeExame" },
                        { "data": "baseNomeExame", "title": "Nome" }
                    ],
                    "select": {
                        "style": 'multi',
                        "selector": 'td:first-child'
                    },
                    "columnDefs": [{
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    }]
                });

                setTimeout(function () {
                    debugger;
                    var listIdExamePedido = $('#ExamePedido').val();

                    if (listIdExamePedido != undefined) {
                        var dataTable = $('#dataTableExamesFixo').DataTable().rows().data();
                        listIdExamePedido = $('#ExamePedido').val().split(',');

                        dataTable.context[0]._iDisplayLength = 153;
                        dataTable.draw();

                        for (var i = 0; i < dataTable.length; i++) {
                            for (var o = 0; o < listIdExamePedido.length; o++) {
                                if (dataTable[i].idBaseNomeExame == listIdExamePedido[o]) {
                                    var id = dataTable[i].idBaseNomeExame + dataTable[i].baseNomeExame;
                                    var input = document.getElementById(id);
                                    $(input).attr("checked", "checked");
                                }
                            }
                        }

                        dataTable.context[0]._iDisplayLength = 3;
                        dataTable.draw();
                    }
                }, 1500);

                $(document).on('change', '.checkBoxNomeExame', function () {
                    var id = $(this).children()[0].id;
                    var dataTable = $('#dataTableExamesFixo').DataTable().rows().data();
                    for (var i = 0; i < dataTable.length; i++) {
                        var idDataTable = dataTable[i].idBaseNomeExame + dataTable[i].baseNomeExame;
                        if (idDataTable == id) {
                            id = dataTable[i].idBaseNomeExame;
                            break;
                        }
                    }

                    var listExamePedido = $('#ExamePedido').val();
                    if (listExamePedido !== "") {
                        var tamanhoLista = listExamePedido.split(',');
                        if (tamanhoLista.length === 1) {
                            if (tamanhoLista[0] !== id) {
                                $('#ExamePedido').val(tamanhoLista[0] + "," + id);
                            } else {
                                $('#ExamePedido').val("");
                            }
                        } else {
                            var arrayFinal = "", flagRemover = false;

                            for (var i = 0; i < tamanhoLista.length; i++) {
                                if (parseInt(tamanhoLista[i]) === id) {
                                    tamanhoLista[i] = "0";
                                    flagRemover = true;
                                    break;
                                }
                            }

                            for (var o = 0; o < tamanhoLista.length; o++) {
                                if (tamanhoLista[o] !== "0" && tamanhoLista[o] != "") {
                                    if (o == 0) {
                                        arrayFinal = tamanhoLista[o] + ",";
                                    } else {
                                        arrayFinal = arrayFinal + tamanhoLista[o] + ",";
                                    }
                                }
                            }

                            if (flagRemover === false) {
                                arrayFinal = arrayFinal + id;
                            }

                            $('#ExamePedido').val(arrayFinal);
                        }
                    } else {
                        $('#ExamePedido').val(id);
                    }
                });


                // ---------- TABLEA MEDICAMENTO ----------
                var dataTableMedicamento = $("#dataTableMedicamento").DataTable({
                    "language": {
                        "lengthMenu": "Exibe _MENU_ Registros por página",
                        "search": "Procurar",
                        "paginate": { "previous": "Retorna", "next": "Avança" },
                        "zeroRecords": "Nada foi encontrado",
                        "info": "Exibindo página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sem registros",
                        "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                    },
                    //"processing": true, // mostrar a progress bar
                    //"serverSide": true, // processamento no servidor
                    "filter": true, // habilita o filtro(search box)
                    "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
                    "pageLength": 3, // define o tamanho da página
                    "ajax": {
                        "url": "/Consulta/GetMedicamento",
                        "type": "GET",
                        "dataType": "json",
                        'contentType': 'application/json',
                        "success": function (data) {
                            $('#dataTableMedicamento').DataTable().clear().rows.add(data).draw();
                        }
                    },
                    "columns": [
                        {
                            "data": 'status', render: function (status, data, rowData) {
                                return ' <div class="checkBoxMedicamento">\n' +
                                    '<input class="check" id="' + rowData.idMedicamento + rowData.nomeGenerico + '" type="checkbox">\n' +
                                    '</div>';
                            }
                        },
                        { "data": "idMedicamento", "title": "idBaseNomeExame" },
                        { "data": "nomeGenerico", "title": "Nome Genêrico" },
                        { "data": "nomeFabrica", "title": "Nome Fabrica" },
                        { "data": "fabricante", "title": "Fabricante" }
                    ],
                    "select": {
                        "style": 'multi',
                        "selector": 'td:first-child'
                    },
                    "columnDefs": [{
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    }]
                });

                setTimeout(function () {
                    var listIdMedicamento = $('#Medicamento').val();

                    if (listIdMedicamento != undefined) {
                        var dataTable = $('#dataTableMedicamento').DataTable().rows().data();
                        listIdMedicamento = $('#Medicamento').val().split(',');

                        dataTable.context[0]._iDisplayLength = dataTable.count();
                        dataTable.draw();

                        for (var i = 0; i < dataTable.length; i++) {
                            for (var o = 0; o < listIdMedicamento.length; o++) {
                                if (dataTable[i].idMedicamento == listIdMedicamento[o]) {
                                    var id = dataTable[i].idMedicamento + dataTable[i].nomeGenerico;
                                    var input = document.getElementById(id);
                                    $(input).attr("checked", "checked");
                                }
                            }
                        }

                        dataTable.context[0]._iDisplayLength = 3;
                        dataTable.draw();
                    }
                }, 1500);

                $(document).on('change', '.checkBoxMedicamento', function () {
                    var id = $(this).children()[0].id;
                    var dataTable = $('#dataTableMedicamento').DataTable().rows().data();
                    for (var i = 0; i < dataTable.length; i++) {
                        var idDataTable = dataTable[i].idMedicamento + dataTable[i].nomeGenerico;
                        if (idDataTable == id) {
                            id = dataTable[i].idMedicamento;
                            break;
                        }
                    }

                    var listMedicamento = $('#Medicamento').val();
                    if (listMedicamento !== "") {
                        var tamanhoLista = listMedicamento.split(',');
                        if (tamanhoLista.length === 1) {
                            if (tamanhoLista[0] !== id) {
                                $('#Medicamento').val(tamanhoLista[0] + "," + id);
                            } else {
                                $('#Medicamento').val("");
                            }
                        } else {
                            var arrayFinal = "", flagRemover = false;

                            for (var i = 0; i < tamanhoLista.length; i++) {
                                if (parseInt(tamanhoLista[i]) === id) {
                                    tamanhoLista[i] = "0";
                                    flagRemover = true;
                                    break;
                                }
                            }

                            for (var o = 0; o < tamanhoLista.length; o++) {
                                if (tamanhoLista[o] !== "0" && tamanhoLista[o] != "") {
                                    if (o == 0) {
                                        arrayFinal = tamanhoLista[o] + ",";
                                    } else {
                                        arrayFinal = arrayFinal + tamanhoLista[o] + ",";
                                    }
                                }
                            }

                            if (flagRemover === false) {
                                arrayFinal = arrayFinal + id;
                            }

                            $('#Medicamento').val(arrayFinal);
                        }
                    } else {
                        $('#Medicamento').val(id);
                    }
                });


                $(".clickImagem").click(function () {
                    // Get the modal
                    var modal = document.getElementById('myModal');

                    // Get the image and insert it inside the modal - use its "alt" text as a caption
                    var img = this;
                    var modalImg = document.getElementById("img01");
                    var captionText = document.getElementById("caption");
                    //img.onclick = function () {
                     modal.style.display = "block";
                     modalImg.src = this.src;
                     captionText.innerHTML = this.alt;
                    //};
                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function () {
                        modal.style.display = "none";
                    };

                });

                // SCRIPT BOTÕES

                //----- PROXIMO DADOS PESSOAIS -----
                $('#moveProximoDadosPessoais').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.next();
                    sibbling.children("a").tab("show");
                });

                //----- PROXIMO DADOS CONSULTA -----
                $('#moveProximoDadosConsulta').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.next();
                    sibbling.children("a").tab("show");
                });

                //----- ANTERIOR DADOS CONSULTA -----
                $('#moveAnteriorDadosConsulta').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.prev();
                    sibbling.children("a").tab("show");
                });

                //----- ANTERIOR DADOS MOLESTIA ATUAL -----
                $('#moveAnteriorDadosMolestiaAtual').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.prev();
                    sibbling.children("a").tab("show");
                });

                //----- PROXIMO DADOS MOLESTIA ATUAL -----
                $('#moveProximoDadosMolestiaAtual').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.next();
                    sibbling.children("a").tab("show");
                });

                //----- ANTERIOR DADOS PATOLOGICA PREGRESSA -----
                $('#moveAnteriorDadosPatologicaPregressa').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.prev();
                    sibbling.children("a").tab("show");
                });

                //----- PROXIMO DADOS PATOLOGICA PREGRESSA -----
                $('#moveProximoDadosPatologicaPregressa').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.next();
                    sibbling.children("a").tab("show");
                });

                //----- ANTERIOR DADOS EXAME FISICO -----
                $('#moveAnteriorDadosExameFisico').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.prev();
                    sibbling.children("a").tab("show");
                });

                //----- PROXIMO DADOS EXAME FISICO -----
                $('#moveProximoDadosExameFisico').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.next();
                    sibbling.children("a").tab("show");
                });

                //----- ANTERIOR DADOS HIPOTESE DIAGNOSTICA -----
                $('#moveAnteriorDadosHipoteseDiagnostica').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.prev();
                    sibbling.children("a").tab("show");
                });

                //----- PROXIMO DADOS HIPOTESE DIAGNOSTICA -----
                $('#moveProximoDadosHipoteseDiagnostica').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.next();
                    sibbling.children("a").tab("show");
                });

                //----- ANTERIOR DADOS CONDUTA -----
                $('#moveAnteriorDadosConduta').click(function () {
                    var target = $(".nav-tabs li.active");
                    var sibbling = target.prev();
                    sibbling.children("a").tab("show");
                });
    //----- -----

            });
        });
    })(jQuery);

    function limparModalConsultaPaciente() {
        $('#modalInputNome').val('');
        $('#modalInputCPF').val('');
    }

    function zeroPadded(val) {
        if (val >= 10)
            return val;
        else
            return '0' + val;
    }
</script>