@using SGCM.Models.Paciente.EditarPacienteModel;
@model EditarPacienteModel
@*<div class="center-form-container">*@
<div class="consulta-usuario-container">
    <table title="Tabela das Consultas" class="table table-striped table-bordered text-center" border="1">
        <thead>
            <tr>
                <th style="text-align: center; width: 25%">Data</th>
                <th style="text-align: center; width: 25%">Status</th>
                <th style="text-align: center; width: 25%">Editar</th>
                <th style="text-align: center; width: 25%">Cancelar</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var consulta in Model.Consulta)
                {
                    <tr>
                        <td>@consulta.dataConsulta</td>
                        @if (consulta.finalizada == 1)
                        {
                            <td>Finalizada</td>
                        }
                        else
                        {
                            <td>Em aberto</td>
                        }
                        <td>
                            <div>
                                <a asp-controller="Consulta" asp-action="EditarConsulta" asp-route-id="@consulta.idConsulta">Edit</a>
                            </div>
                        </td>
                        <td>
                            @if (consulta.finalizada == 1)
                            {
                                <div>
                                    <a class="isDisabled">Cancelar</a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a asp-controller="Consulta" asp-action="CancelarConsulta" asp-route-id="@consulta.idConsulta">Cancelar</a>
                                </div>
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="form-group padding-top-15px">
    <button id="moveAnteriorDadosConsulta" type="button" class="btn btn-info btn-brand btn-brand-big margin-right-15-px">&nbsp;Anterior&nbsp;</button>
</div>