@*
    Página de Login.
    Deivis Henrique Alves
*@

@{
    ViewData["Title"] = "Login";
}

@model SGCM.Models.Account.LoginViewModel
@* Folha De Estilo *@
<partial name="/Views/Login/Partials/_IndexStyle.cshtml" />

@* Corpo da Página (HTML) *@
<div class="login-page-container">
    <form id="frmLogin" onsubmit="return false;">

        @* Token de Segurança *@
        @Html.AntiForgeryToken()

        <div class="login-div-middle">
            <table class="login-table">
                <tbody>
                    <tr>
                        <td colspan="2" class="td-button"></td>
                    </tr>
                    <tr>
                        <td class="td-icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </td>
                        <td>
                            <input type="text" id="inputLogin" class="input-no-border"
                                   placeholder="Nome do Usuário" autocomplete="off" name="username"
                                   aria-required="true" aria-invalid="false" maxlength="20" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="div-control-base"></div>
                            <span class="span-control-invalid" id="tx-login-invalid"></span>
                        </td>
                    </tr>
                    <tr><td colspan="2" class="table-sp"></td></tr>
                    <tr>
                        <td class="icon-td">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </td>
                        <td>
                            <input type="password" id="inputSenha" class="input-no-border"
                                   placeholder="Senha" autocomplete="off" name="password"
                                   aria-required="true" aria-invalid="false" maxlength="20" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="div-control-base"></div>
                            <span class="span-control-invalid" id="tx-senha-invalid"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td-forgot-pass">
                            @*<a href="#" class="td-forgot-pass">Esqueceu a sua senha ?</a>*@
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="login-status">
                            <span id="spnMsg" class="login-message"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td-button">
                            <button id="btnLogin" class="btn btn-blue">
                                ENTRAR
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

@* Sccript *@
<partial name="~/Views/Login/Partials/_IndexScript.cshtml" />
