@using SGCM.Models.Account
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

@* Folha De Estilo *@
<partial name="/Views/Login/Partials/_IndexStyle.cshtml" />

<div class="account-login-container">
    <div class="row">
        <div class="col-lg-12">
            <section>
                <form asp-controller="Login" asp-action="Signin" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <h4>Acesse a sua conta:</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label form-label"></label>
                        <input asp-for="Username" class="form-control form-input form-input-center" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label form-label"></label>
                        <input asp-for="Password" class="form-control form-input form-input-center" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-brand btn-brand-big">&nbsp;ENTRAR&nbsp;</button>
                    </div>
                    @*<p>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text">Registrar?</a>
        </p>*@
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
