@using SGCM.Models.UserMessage

@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@if (ViewData["UserMessage"] != null)
{
    var message = (UserMessage)ViewData["userMessage"];
    <div class="alert-message @message.cssClassName">
        <div id="Title" class="">
            <strong>@message.title</strong>
        </div>
        <div id="message" class="">
            @message.userMessage
        </div>
    </div>
}