@{
    ViewData["Title"] = "Home Page";
}

@model SGCM.Models.HomeModel

<div id="myCarousel" class="carousel slide" style="margin-top: 1em !important; border: 1px solid black" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/CadastroConsulta.png" alt="Cadastrar Consulta" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color:black;">
                    Cadastro de consulta simples e fácil.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/CadastroPaciente.png" alt="Cadastrar Paciente" class="img-responsive" />
            <div class="carousel-caption" style="margin-left: 10em;" role="option">
                <p style="color:black;">
                    Cadastro de paciente para manter os dados corretos.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/CadastroUsuario.png" alt="Cadastrar Usuário" class="img-responsive" />
            <div class="carousel-caption" style="margin-left: 9em;" role="option">
                <p style="color:black;">
                    Cadastro de usuário para maior segurança no sistema.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ConsultarConsultas.png" alt="Quadro Consultas" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="color:black;">
                    Quadro de consulta para melhor visualização das consultas.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<button type="button" id="btnModalIndex" class="btn btn-primary displayNone" data-toggle="modal" data-target="#indexModal"> </button>

<div class="modal fade" id="indexModal" tabindex="-1" role="dialog" aria-labelledby="indexModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="indexModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalIndex').click();
        });
    </script>
}