@{
    ViewData["Title"] = "Sobre";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@

<h3>Sistema de Gerenciamento de Clínica Médica</h3>
<p>
    Essa Sistema WebApi foi desenvolvida como o Trabalhao de Conclusão da Pós Graduação da PUC - Minas. <br />
    O desenvolvimento foi realizado pelo aluno: <strong>Deivis Henrique Alves</strong> 
    <br /> As tecnologias utilizadas foram:
</p>

<ul>
    <li>Aps.Net WebApi Core 2.1</li>
    <li>SQL Server</li>
    <li>Bootstrap 3.3.7</li>
    <li>Aplicação RESTFul</li>
</ul>
