@using SGCM.Models.Paciente.EditarPacienteModel;
@model EditarPacienteModel

@{
    ViewData["Title"] = "Editar Paciente";
}

@* Folha De Estilo *@
<partial name="/Views/Paciente/_PacienteStyle.cshtml" />

<div class="center-form-container">
    <form asp-controller="Paciente" asp-action="EditarPaciente" method="post" class="form-horizontal max-min-width">
        @Html.AntiForgeryToken()
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#dadosPessoais">Dados Paciente</a></li>
        </ul>

        <div class="tab-content">
            <div id="dadosPessoais" class="tab-pane fade in active">
                <h3>Paciente</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Paciente/Partials/Editar/_DadosPessoais.cshtml" model="@Model" />
            </div>
        </div>

        <div class="form-group padding-top-20px">
            <button type="submit" class="btn btn-success btn-brand btn-brand-big">&nbsp;Salvar&nbsp;</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <partial name="/Views/Paciente/_PacienteScript.cshtml" />
}

<button type="button" id="btnModalCadastroPaciente" class="btn btn-primary displayNone" data-toggle="modal" data-target="#cadastroPacienteModal"> </button>

<div class="modal fade" id="cadastroPacienteModal" tabindex="-1" role="dialog" aria-labelledby="cadastroPacienteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="cadastroPacienteModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalCadastroPaciente').click();
        });
    </script>
}